{% extends 'Adminbase.html' %}
{% block content %}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">You can add and delete videos</h2>
    <br>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-backdrop="static"
        data-target="#exampleModalCenter">Add New Video</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add Video</h5>
                    <!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--          <span aria-hidden="true">&times;</span>-->
                    <!--        </button>-->
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <form method="POST" id="regular-activity-add">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="name">Video Title</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="title" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Video Youtube ID</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="ytID" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Video Description</div>
                                <div class="value">
                                    <div class="input-group">
                                        <textarea class="input--style-5" type="text" name="desc" required>
                                            </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="name">Subscript Type</div>
                                <div class="value">
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <select name="year" value="{{year.YearAcademic}}" required>
                                                <option>Select Subscription</option>
                                                {% for activity in year %}

                                                <option value="{{ activity.id }}">{{activity}}</option>

                                                {% endfor %}
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" href="javascript:{}"
                        onclick="document.getElementById('regular-activity-add').submit();">Add Video</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="example" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Video Title </th>
                            <th>Youtube ID</th>
                            <th>Subscription Type</th>

                            <!-- <th>Edit</th> -->
                            <th>Delete</th>

                        </tr>
                    </thead>


                    <tbody>
                        {% for video in allVideos %}
                        <tr>
                            <td>{{video.title}}</td>
                            <td>{{video.ytId}}</td>
                            <td>{{video.subType}}</td>
                            <!-- <td>{{activity.Camp.CampFrom__year}}</td> -->
                            <!-- <td><a class="btn btn-primary" href="{% url 'DeleteVideo' video.id  %}">EDIT</a></td> -->
                            <td>
                                <form action="{% url 'DeleteVideo' video.id  %}" method="post"
                                    onSubmit="return confirm('Are you sure you wish to delete?');">
                                    {% csrf_token %}
                                    <input type="submit" class='btn btn-danger' value="Delete">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>

                    <tfoot>
                        <tr>
                            <th>Video Title </th>
                            <th>Youtube ID</th>
                            <th>Subscription Type</th>

                            <!-- <th>Edit</th> -->
                            <th>Delete</th>

                        </tr>
                    </tfoot>
                </table>
                <button title="Click here to download Excel Sheet" class="btn btn-primary"
                    onclick="exportTableToExcel([3],'example', 'Videos'+new Date().toJSON().slice(0,10).replace(/-/g,'/'))">
                    Export
                </button>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>

{% endblock %}